<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TheDuffman85.SynologyDownloadStationAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="SynologyDownloadStationAdapterUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TheDuffman85.SynologyDownloadStationAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TheDuffman85.SynologyDownloadStationAdapter.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>diskstation:5000</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SizeX" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="SizeY" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="CheckedVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowDecryptedLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bookmarks" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreHoster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HosterSelection" serializeAs="String">
                <value />
            </setting>
        </TheDuffman85.SynologyDownloadStationAdapter.Properties.Settings>
        <SynologyDownloadStationAdapterUi.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>diskstation:5000</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
        </SynologyDownloadStationAdapterUi.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TheDuffman85.SynologyDownloadStationAdapter.Properties.Settings>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </TheDuffman85.SynologyDownloadStationAdapter.Properties.Settings>
    </applicationSettings>
</configuration>
